.card-container{
    background-color:#cffafe;
    background-size: cover;
    height: 100%;
    width: 350px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.watch-img{
    width: 150px;
    height: 150px;
}